

.table-view .table-cell.coluna-id{ /* Célula da coluna Data */ 
    -fx-alignment: center;
}

.table-view .table-cell.coluna-setor{ /* Célula da coluna Data */ 
    -fx-alignment: center;
}

.table-view .table-cell.coluna-usuario{ /* Célula da coluna Data */ 
    -fx-alignment: center;
}

.table-view .table-cell.coluna-equipamento{ /* Célula da coluna Data */ 
    -fx-alignment: center;
}

.table-view .table-cell.coluna-descricao{ /* Célula da coluna Data */ 
    -fx-alignment: center;
}
.table-view .table-cell.coluna-serial { /* Célula da coluna Data */ 
    -fx-alignment: center;
}

.table-view .table-cell.coluna-tombo { /* Célula da coluna Data */ 
    -fx-alignment: center;
}

.table-view .table-cell.coluna-fornecedor{ /* Célula da coluna Data */ 
    -fx-alignment: center;
}

.table-view .table-cell.coluna-marca { /* Célula da coluna Data */ 
    -fx-alignment: center;
}

.table-view .table-cell.coluna-computador { /* Célula da coluna Data */ 
    -fx-alignment: center;
}

.table-view .table-cell.coluna-observacoes { /* Célula da coluna Data */ 
    -fx-alignment: center;
}

.table-view .table-cell{
    -fx-font-family: "times new roman", Gerogia, Serif;
}
.table-view .table-cell.coluna-local { /* Célula da coluna Data */ 
    -fx-alignment: center;
}

.table-view .table-cell{
    -fx-font-family: "times new roman", Gerogia, Serif;
}

.table-row-cell:odd{
    -fx-background-color: -fx-table-cell-border-color,  #C0C0C0;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */  
}

.table-row-cell:selected {
    -fx-background-color: #277ec6;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}

.label{
    -fx-font-family: "times new roman", Gerogia, Serif;
    -fx-font-size: 14;    
    -fx-font-weight: bold;
}

.text-field{
    -fx-font-family: "times new roman", Gerogia, Serif;
    -fx-font-size: 14;         
   
}

.button{
    -fx-font-family: "times new roman", Gerogia, Serif;
    -fx-font-size: 14;    
    -fx-font-weight: bold;
  
}
.lblEquipamentosEmprestados{
     -fx-font-family: "times new roman", Gerogia, Serif;
    -fx-font-size: 14;    
    -fx-font-weight: bold;
        -fx-font-size: 20;    
}



